@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', serif;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}
  
.header {
    display: grid;
    max-width: 900px;
    position: relative;
    margin: auto;
    grid-gap: 1px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
  
/*Navigation Bar*/
.nav-1 {
    width: 100%;
    right: 0;
    padding-right: 30px;
    padding-left: 250px;
    text-align: left;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 18px;
    background-color: black;
    color: white;
    text-size-adjust: 15px;
    position: fixed;
    z-index: 5;
}
  
.nav-1 img{
    float: left;
    margin-left: 8%;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    z-index: 5;
}

.nav-1 h2 a{
    color: white;
    opacity: .75;
    text-decoration: none;
    position: relative;
}

.nav-1 h2 a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-1 h2 a:hover:after{
    width: 100%;
    left: 0;
}

.nav-1 h2 a:hover {
    color: white;
    opacity: 1;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: 1px;
    text-decoration: none;
}

/* Judul atas */
label[for='new-task'], .todo p, .finish p {
    color: #333;
    font-weight: 700;
    font-size: 25px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
    clear: both;
}

/* Input */
input[type = 'text'] {
    margin: 0;
    font-size: 20px;
    font-family: 'Poppins', serif;
    line-height: 20px;
    height: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
}

input[type = 'text']:focus {
    color: #333;
}

label[for = 'new-task'] {
    display: block;
    margin: 0 0 20px;
}

input#new-task {
    float: left;
    width: 90%;
}

input[type = 'checkbox'] {
    margin-right: 15px;
}

/* List & Button */
.list{
    display: block;
    width: 700px;
    margin: 125px auto 0;
}

li{
    list-style: none;
    float: left;
    clear: both;
    margin: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    width: 98%;
    text-align: left;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

button {
    outline: none;
    background: none;
    border: 0px;
    color: #888;
    font-size: 30px;
    width: 30px;
    margin: 0px 40px 0;
    cursor: pointer;
}

button:hover {
    color: #222;
}

.add-btn{
    margin: 0;
    width: 30px;
}

.del-btn:hover {
    color: red;
}

/* Finish */
.finish label {
    text-decoration: line-through;
    color: #777;
}